<html>

<head>
	<title>图片上传并预览</title>
	<style type="text/css">
		.pic {
			height: 100px;
			width: 100px;
			background: url('update.png');
		}

		.pic input,
		.pic .preview {
			height: 100%;
			width: 100%;
			float: left;
			margin-right: 10px;
		}

		.pic input {
			opacity: 0;
		}
	</style>
</head>

<body>
	<!-- select的change事件 -->
	<table>
		<th>name</th>
		<th>age</th>
		<th>
			<select id="selectE">
				<option>2</option>
				<option>3</option>
				<option>4</option>
			</select>
		</th>
		<tr>
			<td>x</td>
			<td>x</td>
			<td>x</td>
		</tr>
	</table>

	<!-- 图片上传 显示 预览 -->
	<div class="pic" id="pic">
		<input type="file" name="imgUpload" id="imgUpload" onchange="imgPreview(this)" />
	</div>
</body>
<script type="text/javascript">
	// select的change事件
	var sel = document.getElementById("selectE");
	sel.addEventListener('change', function () {
		console.log(sel.value);
	});

	// 图片上传 显示 预览
	function imgPreview(fileDom) {
		//判断是否支持FileReader
		if (window.FileReader) {
			var reader = new FileReader();
		} else {
			alert("您的设备不支持图片预览功能，如需该功能请升级您的设备！");
		}
		var file = fileDom.files[0];
		var imageType = /^image\//;
		if (!imageType.test(file.type)) {
			alert("请选择图片！");
			return;
		}
		reader.onload = function (e) {
			var element = document.createElement("img");
			var pic = document.getElementById("pic");
			pic.appendChild(element);
			element.src = e.target.result;
		};
		reader.readAsDataURL(file);
	}

	var img1 = document.getElementsByTagName('img');
	for (var i = img1.length - 1; i >= 0; i--) {
		img1[i].addEventListener('click', function () {
			console.log(44);
		});
	};
</script>

</html>